<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelliger</title>
    <link rel="stylesheet" href="../css/css.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: rgb(27, 27, 27);" class="gradient">
    <div class="d-flex justify-content-center align-items-center vh-100 vw-100">
        <div>
            <h1 style="color: white; font-size: 4vmax;">Welcome to Intelliger.</h1>
            <div class="gstart" style="text-align: center;"> 
            <a class="" href="/app"
                style="font-size: 2vmax; padding: .5rem; background-image: -webkit-linear-gradient(90deg, rgb(180, 223, 243), rgb(163, 241, 202)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: gradient 15s infinite ease-in, hue 1s infinite linear;"
                class="text-align-center">Get Started.</a>

            </div>
        </div>
    </div>
</body>
</html>